section.about.flex.clipped
    h2 INTRO
    h2 KRÓTKI OPIS
    h2 DZIAŁALNOŚCI
    P.home-lead rok powstania, załozyciele, jakis tam profil Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vel, perferendis earum unde libero quo quos assumenda, quia ducimus totam, vitae ipsum provident error labore pariatur modi cum ullam voluptatibus!
    P.home-lead Litwo! Ojczyzno moja! Ty jesteś jak zdrowie. Ile cię trzeba cenić, ten zaszczyt należy. Idąc z jakich rąk strzelby, którą powinna młodź dla sług zapytać. Odemknął, wbiegł do ojca mego w końcu z Mickiewiczem,
    a.btn.btn-default.btn-animated(href="#services") Nasze usługi >