section.contact.flex
  .wrap-contact.flex
    h2 Zapraszamy do kontaktu
    form#contact(action='https://formspree.io/biuro@pakor.pl', method='POST')
      fieldset
        input#name(type='text', placeholder='imię i nazwisko' name='name')
        span.highlight
        span.bar
      fieldset
        input#email(type='email', placeholder='email' name='email')
        span.highlight
        span.bar
      fieldset
        input#subject(type='text', placeholder='temat' name='_subject')
        span.highlight
        span.bar
      fieldset
        textarea#message(name="message", placeholder='treść wiadomości', cols='20', rows='5')
        span.highlight
        span.bar
      fieldset
        button(type='submit') Wyślij

    p telefon: +48 502 295 237
    p email: biuro@pakor.pl