section.services#services
    .card
      img.card-img(src="assets/img/card-low-1.jpg" alt="Naprawa")
      h2.card-header naprawa sprzetu
      p.card-lead Naprawiamy głownie siłowniki, ale nie tylko! 
      a.btn.btn-yellow.card-btn.btn-animated(href="#contact") Potrzebujesz naprawy? >
    .card
      img.card-img(src="assets/img/card-low-2.jpg" alt="Uszczelki")
      h2.card-header uszczelniacze techniczne
      p.card-lead Uzywamy najlepszych materiałów firmy austiackiej Seal Maker
      p.card-lead PU, NBR, PTFE i innych
      a.btn.btn-yellow.card-btn.btn-animated(href="#contact") Zamów uszczelki >
    .card
      img.card-img(src="assets/img/card-low-4.jpg" alt="Roboty")
      h2.card-header roboty ziemne
      p.card-lead Koparki kołowe 15-21t Koparki gąsiennicowe 20-25t osprzęt wg. potrzeb
      a.btn.btn-yellow.card-btn.btn-animated(href="#contact") Zamów sprzęt >