section.header.flex
    .logo
      .gigantic PAKOR
      p.home-lead mechanics
    
    .video-section
      video#video-elem(autoplay="" loop="" muted="" plays-inline="")
        source(src="assets/img/pakor_background_lowbitrate.mp4" type="video/mp4")
    .video-overlay
    