/* cyrillic-ext */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url(https://fonts.gstatic.com/s/firasans/v8/g5Sf_134cAtTKkNnIjIkX4X0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url(https://fonts.gstatic.com/s/firasans/v8/T3abUOg4YgfjOby2l-QudoX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url(https://fonts.gstatic.com/s/firasans/v8/yB7tFp5j00CzdUIRV-khUoX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url(https://fonts.gstatic.com/s/firasans/v8/5jAMGMsBXS6xUYEytGcZdIX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url(https://fonts.gstatic.com/s/firasans/v8/BzUSZ4bBt2kmpGGQUA6ZQIX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url(https://fonts.gstatic.com/s/firasans/v8/MIPWVWI_mY_QERxcMVPEwIX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url(https://fonts.gstatic.com/s/firasans/v8/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v14/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v14/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers (opinionated).
   */
body {
  margin: 0; }

/**
   * Add the correct display in IE 9-.
   */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   * 1. Add the correct display in IE.
   */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
   * Add the correct margin in IE 8.
   */
figure {
  margin: 1em 40px; }

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * 1. Remove the gray background on active links in IE 10.
   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
   */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
   * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
   */
b,
strong {
  font-weight: inherit; }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font style in Android 4.3-.
   */
dfn {
  font-style: italic; }

/**
   * Add the correct background and color in IE 9-.
   */
mark {
  background-color: #ff0;
  color: #000; }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
audio,
video {
  display: inline-block; }

/**
   * Add the correct display in iOS 4-7.
   */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Remove the border on images inside links in IE 10-.
   */
img {
  border-style: none; }

/**
   * Hide the overflow in IE.
   */
svg:not(:root) {
  overflow: hidden; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers (opinionated).
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
   *    controls in Android 4.
   * 2. Correct the inability to style clickable types in iOS and Safari.
   */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * 1. Add the correct display in IE 9-.
   * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
   * Remove the default vertical scrollbar in IE.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in IE 9-.
   * 1. Add the correct display in Edge, IE, and Firefox.
   */
details,
menu {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Scripting
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
canvas {
  display: inline-block; }

/**
   * Add the correct display in IE.
   */
template {
  display: none; }

/* Hidden
     ========================================================================== */
/**
   * Add the correct display in IE 10-.
   */
[hidden] {
  display: none; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #e7a61a;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: #e7a61a;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #f1ca76; }

::-moz-selection {
  background: #FFF498; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

body {
  background: #333333;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Fira Sans", "Lato";
  color: #2E2D33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

.menu {
  position: fixed;
  margin: 2em auto 0 2em;
  background-color: #e7a61a;
  width: 66px;
  border: 1px solid #333;
  border-radius: 0px;
  transition: 0.3s border-radius ease-in-out, 0.3s height ease-in-out;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  overflow: hidden;
  z-index: 100; }

.menu--closed {
  height: 66px; }

.menu--open {
  height: 400px; }

.button {
  transition: 0.3s -webkit-transform ease-in-out, 0.3s opacity ease-in-out;
  transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;
  cursor: pointer;
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  width: 2em;
  height: 2em;
  left: 27%;
  top: 20px;
  opacity: 1; }
  .button:hover {
    opacity: 0.6; }
  .button span {
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 20%; }

.menu--open .button {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.tools {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  height: 60%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  transition: 0.3s margin ease-in-out; }
  .tools .icon {
    transition: 0.2s -webkit-transform ease-in-out;
    transition: 0.2s transform ease-in-out; }
    .tools .icon:hover {
      -webkit-transform: scale(0.8);
              transform: scale(0.8); }

.tools--hidden {
  margin-top: 400px;
  z-index: -100; }

.tools--visible {
  margin-top: 40%;
  z-index: 100; }

@media (max-width: 640px) {
  .menu {
    position: absolute;
    right: 0;
    margin: 2em 2em auto auto; } }

section.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-order: -1;
      order: -1;
  width: 50%; }
  section.header .video-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    z-index: -3; }
  section.header #video-elem {
    width: 100%;
    height: 100vh;
    object-fit: cover; }
    section.header #video-elem video::-webkit-media-controls {
      display: none !important; }
  section.header .video-overlay {
    position: fixed;
    object-fit: cover;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/pattern2.png);
    background-color: rgba(51, 51, 51, 0.1);
    z-index: -1; }
  section.header .logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-top: 25em;
    margin-left: 45%; }
    section.header .logo .gigantic {
      color: #e7a61a;
      font-weight: 800;
      background: #333333;
      padding: 1px 20px 1px 20px;
      margin: 0 auto -15px auto; }
    section.header .logo .home-lead {
      color: #E4572E;
      font-size: 40px;
      background: #333333;
      padding: 1px;
      margin-left: auto;
      margin-right: auto; }

@media (max-width: 900px) {
  section.header {
    width: 30%; }
    section.header .logo {
      margin-left: 2em; } }

@media (max-width: 640px) {
  section.header {
    min-height: 400px; }
    section.header .logo {
      margin-bottom: 10em; }
    section.header h2,
    section.header .home-lead {
      margin-left: auto;
      margin-right: auto;
      max-width: 300px; } }

section.about {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  /*-webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;*/
  /*margin-top: 2em;*/
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  /*this in the flex-item that we want scrollable*/
  height: auto;
  right: 0;
  margin: 2em 2em auto 15em;
  padding: 2em;
  border-radius: 3px;
  background-attachment: fixed;
  background-size: cover;
  background: linear-gradient(to right bottom, rgba(231, 166, 26, 0.8), rgba(228, 87, 46, 0.7));
  z-index: 1;
  width: 50%;
  overflow: auto; }
  section.about h2 {
    color: #3f3f42;
    font-size: 50px;
    font-weight: 400;
    line-height: 0.4;
    padding: 0;
    margin-top: 30px;
    margin-right: -108px; }
  section.about p {
    font-size: 1.1rem; }
  section.about .btn {
    margin: auto 1rem 1rem auto;
    -ms-flex-item-align: end;
        align-self: flex-end; }

@media (max-width: 900px) {
  section.about {
    width: 70%;
    margin: 2em; } }

@media (max-width: 640px) {
  section.about {
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    width: 100vw;
    margin: 0;
    min-height: 400px; }
    section.about h2 {
      margin: 0 auto 0.4em 0; }
    section.about .home-lead {
      width: 85vw; } }

section.map {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center; }
  section.map h2 {
    margin-left: 3em;
    visibility: hidden;
    backgorund: #333333; }

@media (max-width: 663px) {
  section.map h2 {
    display: none;
    font-size: 1.6rem;
    margin-left: 0.5em; } }

section.services {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #23404C;
  z-index: 5;
  width: 100vw; }
  section.services .card {
    background: #1b313b;
    width: 48vh;
    min-height: 45vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    border-radius: 5px;
    margin: 5vh;
    padding: 0;
    -webkit-filter: drop-shadow(15px 15px 20px #162830);
            filter: drop-shadow(15px 15px 20px #162830);
    -webkit-transition: 0.3s ease-in-out !important;
    -webkit-transition-transition: 0.2s ease-in-out !important; }
  section.services .card-img {
    -ms-flex-item-align: center;
        align-self: center;
    float: left;
    width: 100%;
    object-fit: scale-down;
    top: 0; }
  section.services .card-header {
    margin-left: 1rem;
    margin: 1rem; }
  section.services .card-lead {
    clear: right;
    margin: 0 1rem 0rem 1rem;
    color: #999; }
  section.services .card-btn {
    margin: auto 1rem 1rem auto;
    -ms-flex-item-align: end;
        align-self: flex-end; }

@media (max-width: 640px) {
  section.services {
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    position: center;
    width: 100vw; }
    section.services .card {
      max-height: 100vh;
      width: 100vw;
      margin: 1rem 0 1rem 0; }
    section.services .card-btn {
      font-size: 1rem; }
      section.services .card-btn::after {
        height: auto; } }

.home-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-direction: column;
      flex-direction: column; }

.home-sections {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 100vh;
  overflow: hidden; }

.services-sections {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }

@media (max-width: 640px) {
  .home-sections .flex {
    display: block; } }

.home-lead {
  font-size: 36px;
  line-height: 1.1; }
  .home-lead.outdented {
    text-indent: -0.75em; }
    @media (max-width: 640px) {
      .home-lead.outdented {
        text-indent: 0; } }

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem); }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem); }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem); }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem); }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: .5rem 1rem;
  display: inline-block;
  border-radius: 5px;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-white {
  background-color: #fff;
  color: #777; }

.btn-default {
  background-color: #333333;
  color: #e7a61a; }

.btn-yellow {
  background-color: #e7a61a;
  color: #333333; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: all .4s;
          transform: all .4s; }

.btn-white::after {
  background-color: #fff; }

.btn:hover::after {
  -webkit-transform: scaleY(1.6) scaleX(1.4);
          transform: scaleY(1.6) scaleX(1.4);
  opacity: 0; }

.btn-animated {
  -webkit-animation: moveInBottom .5s ease-out .75s;
          animation: moveInBottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards; }

.clipped {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 15% 100%, 0 90%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 15% 100%, 0 90%, 0 0); }

.card-clipped {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 15% 100%, 0 90%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 15% 100%, 0 90%, 0 0); }

.pulse {
  margin: 100px;
  display: block;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(252, 4, 24, 0.4);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite; }
  .pulse:hover {
    -webkit-animation: none;
            animation: none; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(252, 4, 24, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(252, 4, 24, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(252, 4, 24, 0); } }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(252, 4, 24, 0.4); }
  70% {
    box-shadow: 0 0 0 10px rgba(252, 4, 24, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(252, 4, 24, 0); } }

@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
            transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
            transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
            transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
            transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInDown {
  -webkit-animation: zoomInDown 1s;
          animation: zoomInDown 1s; }

.slideInRightUp {
  -webkit-animation: slideInRightUp 1s;
          animation: slideInRightUp 1s; }

@-webkit-keyframes slideInRightUp {
  from {
    -webkit-transform: translate3d(1000%, -1000%, 0);
            transform: translate3d(1000%, -1000%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes slideInRightUp {
  from {
    -webkit-transform: translate3d(1000%, -1000%, 0);
            transform: translate3d(1000%, -1000%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@-webkit-keyframes slideInLeftUp {
  from {
    -webkit-transform: translate3d(-1000%, -1000%, 0);
            transform: translate3d(-1000%, -1000%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes slideInLeftUp {
  from {
    -webkit-transform: translate3d(-1000%, -1000%, 0);
            transform: translate3d(-1000%, -1000%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.slideInLeftUp {
  -webkit-animation: slideInLeftUp 1s;
          animation: slideInLeftUp 1s; }

@media (max-width: 640px) {
  .home-wrap {
    -ms-flex-line-pack: end;
        align-content: flex-end; }
  .home-sections {
    display: block;
    min-height: 100vh; }
  .section {
    width: 100vw;
    margin: 0;
    overflow: hidden; } }
