section.map
  flex-direction: column
  justify-content: center
  height: 100vh
  h2
    margin-left: 3em
    visibility: hidden
    backgorund: $bg-color
  .wrap-map
    margin: auto 6em
@media (max-width: 663px)
  section.map
    .wrap-map
      margin: auto 0
    h2
      display: none
      font-size: 1.6rem
      margin-left: 0.5em