section.services
  flex-flow: row wrap
  justify-content: center
  background-color: darken($japanese-indigo, 3%) 
  z-index: 5
  width: 100vw
  min-height: 100vh
  
  .card
    background: darken($japanese-indigo, 5%) 
    width: 48vh
    min-height: 55vh
    max-height: 70vh
    flex-direction: column
    border-radius: 5px
    margin: auto 3em
    padding: 0
    filter: drop-shadow(15px 15px 20px darken($japanese-indigo, 8%) )
    -webkit-transition: 0.3s ease-in-out !important
    -webkit-transition-transition: 0.2s ease-in-out !important
    &:hover
      transform: scale(1.04)
  
  .card-img
    align-self: center
    float: left
    width: 100%
    object-fit: scale-down
    top: 0

  .card-header
    font-size: 1.6rem
    margin-left: 1rem
    margin: 1rem
  .card-lead
    clear: right
    margin: 0 1rem 0rem 1rem
    color: #999
  .card-btn
    font-size: 1.3rem
    margin: auto 1rem 1rem auto
    align-self: flex-end

@media (max-width: 640px)
  section.services
    display: block
    //flex-flow: column
    //position: center
    width: 100vw
    .card
      max-height: 100vh
      width: 100vw
      margin: auto
      &:hover
        transform: scale(1)
    .card-btn
      font-size: 1rem
      &::after
        height: auto